# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
dist/
client/dist/
build/

# Local env keys and databases
.env
server/.env
*.db
*.sqlite

# IDEs & System files
.idea/
.vscode/
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
